# Node.js
node_modules/
package-lock.json

# Python Virtual Environments
tf_env/
hand_env/
gesture_env/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log